click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-PageDown==0.4.0
Flask-WTF==1.0.0
graphviz==0.19.1
importlib-metadata==4.11.2
inquirerpy==0.3.3
itsdangerous==2.1.0
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.1.0
pfzy==0.3.4
prompt-toolkit==3.0.28
pyfiglet==0.8.post1
Pygments==2.11.2
wcwidth==0.2.5
Werkzeug==2.0.3
WTForms==3.0.1
zipp==3.7.0
